<div class="hero-unit">
</div>

<div class="row container up-and-away-boss">
  <div class="span4 offset4 colorscheme_boss">
      <h4 id="bosslogin">Bitte geben Sie das Bewerbungs-Passwort ein:</h4></br>
<%= form_for(@user) do |f| %>
        <%= render 'layouts/error_messages' %>

        <%= f.password_field :password, placeholder: "Passwort", autofocus: true %>

        <%= f.submit "BewerbungsClip ansehen", class: "btn btn-large btn-success btn-form" %>
      <% end %>
  </div>
  </div>
</div>

