<div class="hero-unit">
	<div class="container">
		<h1>Der Leitfaden zur richtigen Bewerbung.</h1>
		<h2>4 Schritte zum neuen Job.</h2>
		<ul class="row">
			
			<li class="span3 ueberzeugen float-up">
				<p class="first_paragraph">Überzeugen</p>
				<p class="second_paragraph">Alles was du brauchst um das Bewerbungsgespräch meistern.</p>
			</li>
		</ul>
	</div>
</div>